<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>My Greatest Web App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.css">
        <style> 
        	body { padding-top: 105px; }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
    	<link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/base.css">
        <!--CSS skins (pick one)-->
        <link rel="stylesheet" href="css/green.css">
        <link rel="alternate stylesheet"  title="blue" href="css/blue.css">
        <link rel="alternate stylesheet"  title="red" href="css/red.css">
        
        <!--Delete this-->
        <script src="js/styleswitch.js" type="text/javascript"></script>
        <link rel="stylesheet" href="css/styleswitch.css">
        <!--End delete-->

        <!--[if lt IE 9]>
            <script src="js/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body>
    
        <!--Delete this-->
        <div class="switcher">
            <i class="icon icon-bookmark green"></i>  <a href="javascript:chooseStyle('none', 60)" checked="checked">Default theme</a> <br>
            <i class="icon icon-bookmark blue"></i> <a href="javascript:chooseStyle('blue', 60)">Blue theme</a> <br>
            <i class="icon icon-bookmark red"></i> <a href="javascript:chooseStyle('red', 60)">Red theme</a>
        </div><!--End Delete-->
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon icon-reorder"></i> Menu
                    </a>
                    <a class="brand" href="#">Ambrosia</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="getting-started.html">Get started</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
						</ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
			<div class="sub-navbar">
				<div class="container">
					<p><i class="icon icon-user"></i> Hello, Guest. <a class="btn btn-login" href="login.html">Login here &raquo;</a></p>
				</div>
			</div>
        </div> 
        <header>
        	<div class="container">
        		<div class="row">
        			<div class="span8 offset2">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item"><img src="assets/app-1.png" alt="app"/></div>
                                <div class="item"><img src="assets/app-2.png" alt="app"/></div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                        <h1>Not your regular web application</h1>
        				<p>The next big thing is arround the corner and you'll be part of it.</p>
        			</div>
        		</div>
        	</div>
        </header>
        
        <div class="strip">
        	<div class="container">
        		<div class="row">
        			<p>Empowered by more than 40.000 customers around the world. Developers, Y U no signup? <a class="btn btn-primary" href="login.html">SIGNUP NOW!</a></p>
        		</div>
        	</div>
        </div>
        
        <div class="main">
        	<div class="container">
        		<div class="row feature-blocks">
        			<div class="span3">
        				<h3><i class="icon icon-beaker"></i> Technology</h3>
        				<p>And purely one near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and and while</p>
                        <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook</a>
        			</div>
        			<div class="span3">
        				<h3><i class="icon icon-cloud"></i> Cloud Based</h3>
        				<p>Purely one near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less</p>
                        <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook &raquo;</a>
        			</div>
        			<div class="span3">
        				<h3><i class="icon icon-random"></i> Cross-Platform</h3>
        				<p>One near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and</p>
                        <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook &raquo;</a>
        			</div>
        			 <div class="span3">
        				<h3><i class="icon icon-github"></i> Integrated</h3>
        				<p>Near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and and while</p>
                        <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook &raquo;</a>
        			</div>
        		</div>
        		
				<h2><span>I've seen the future, it's in my browser</span></h2>

        		<div class="row">
        			<div class="span12">
        				<h4><i class="icon icon-bullhorn"></i> Get to know what users are saying about us</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <!--testimonials-->
                            <div class="span8">
                    			<p><img class="pull-left avatar" src="assets/user-1.png" alt="user"/> <strong>Cooper Black wrote:</strong><br/>
        						"These guys are friendly and down to earth. I would definitely recommend for anyone looking for a solid host for their sites. I'd recommend them to anyone!"</p>
                                <br>
            				    <p><img class="pull-left avatar" src="assets/user-2.png" alt="user"/> <strong>Lucida Sans wrote:</strong><br/>
        					    "I've ever had downtime since the switch. These guys are friendly and down to earth. I would definitely recommend for anyone looking for a solid host for their sites."</p>
                                <br>
            				    <p><img class="pull-left avatar" src="assets/user-3.png" alt="user"/> <strong>Calisto MT wrote:</strong><br/>
        					    "They are great - I wish they IPs were cheaper - but the uptime is awesome and the support is fast - I can always get ahold of them on live chat or phone call."</p>
                            </div><!--end testimonials-->
                            <!--quote-->
                            <div class="span4">
                                <div class="well">
                                    <blockquote>
                                        <strong>It's all ablut service;</strong>
                                        <p>The reason we chose This Company Permanent for our business solutions is simple, it's all about service. You ask for something and it gets done. Our Business Manager is as proactive as he is enthusiastic.</p>
                                        <br>
                                        <small>Cambria Bold - <cite title="Source Title">Venture Enterprises CEO.</cite></small>
                                    </blockquote>
                                </div>
                            </div><!--end quote-->
                            
                        </div>
                    </div>
                </div>
        		
        		<h2><span>HTML5 works hard and we mean business</span></h2>
				
        		<div class="row">
        			<div class="span12">
        				<h4><i class="icon icon-shopping-cart"></i> Affordable pricing</h4>
        				<p>FREE SITEBUILDER! Not sure how to build a website? No problem at all! RVSiteBuilder and Parallels SiteBuilder are included on all eleven2 hosting plans. Build a fully featured website in minutes using a fantastic range of tools.
						FREE SOFTWARE INSTALLER! Install over 110 Scripts Instantly with Softaculous (built in with the e2Panel). It's super easy to use, and you can receive email alerts when new script upgrades are available!</p>
						
						<hr>
						
						<h4><i class="icon icon-certificate"></i> A company you can rely on!</h4>
						<p>FREE SITE MIGRATIONS! Are you currently hosting your website with another company? Receiving a subpar service? Move to eleven2 and start being treated like a real person! We help you transfer everything over to us, free of charge!
						24X7 PREMIUM TECHNICAL SUPPORT Our doors never close! We can guarantee true 24/7 tech support, weather it be 5am on Christmas Day, or July 4th, we are always here to assist you! Start a live chat or give our tech team a call.</p>
        				
        				<hr>
        				
        				<h4><i class="icon icon-group"></i> Amazing live support</h4>
						<p>Our live support team are on site 24 hours a day, 7 days a week. Anytime you need us, we're here to answer any of your questions, problems and concerns. We're so confident our hosting rocks, that if you don't like our shared or reseller hosting, you can receive a full refund within 60 days of signing up!</p>
                        <a class="btn btn-info" href="contact.html">Go Info!</a>
                        <a class="btn btn-success" href="contact.html">Go Success!</a>
                        <a class="btn btn-warning" href="contact.html">Go Warning!</a>
                        <a class="btn btn-danger" href="contact.html">Go Danger!</a>
                        <a class="btn btn-inverse" href="contact.html">Go Inverse!</a>
        			</div>
        		</div>
        		<br/>
        		<br/>
        		<div class="row">
        			<div class="span12">
        				<div class="well centered">
        					Woah woah my crispy beloved developers, Y U no signup? <a class="btn btn-primary" href="login.html">SIGNUP NOW!</a> <i class="icon icon-circle-arrow-right"></i>
        				</div>
        			</div>
        		</div>
        		
        	</div>
        </div>
        
        <footer>
            <div class="container">
        		<div class="row">
                    <div class="span12">
            			<p>Designed by @heyallanmoreno</p>
                    </div>
        		</div>
        	</div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.8.0.min.js"><\/script>')</script>

        <script src="js/bootstrap.min.js"></script>

        <script src="js/script.js"></script>
    </body>
</html>
