{% extends "site_base.html" %}

{% block head %}
<style type="text/css">
html {
  background-color: #ededed;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}

h1 {
  color: #000;
}

h2 {
  color: #333;
}

.section, .item {
  padding: 0px 15px;
}

.item {
  background-color: #ECB8F5;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  padding: 5px 15px;
}

.helptext {
  color: #999;
  padding-left: 10px;
}

a.delete:hover {
  color: red;
}
</style>


<script type='text/javascript'> 
$(document).ready(function(){
var times = document.querySelectorAll("[id$=time]");
$.each(times, function(){
  $(this).timepicker({
  timeFormat: 'hh:mm',
  addSliderAccess: true,
  sliderAccessArgs: { touchonly: false }
});
  });

$('#id_AvailableEnd').datetimepicker({
  dateFormat: 'yy-mm-dd',
  timeFormat: 'hh:mm',
  stepMinute: 30,
  addSliderAccess: true,
  sliderAccessArgs: { touchonly: false }
});
});
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/

  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();

      var forms = $('.item'); // Get all the forms

      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }

    } // End if
    else {
        alert("You have to enter at least one todo item!");
    }
    return false;
  }


  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
      
      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');
      
      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        console.log($(this));
      });
      
      // Add an event handler for the delete item/form link 
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });

      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 

    return false;
  }

  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, 'form');
  });
  
  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });


});
</script>

{% endblock %}

{% block complete %}
{% load bootstrap %}
<br><br>
<form action="." method="POST">{% csrf_token %}
    {{ newForm.management_form }}
    {% for form in newForm.forms %}
    {{ form.time }}
    <div class="item">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Onset</th>
            <th>Offset</th>
            <th>Seizure Type</th>
            <th>Push Button</th>
            <th>Pt Status</th>
          </tr>
          {% for field in form %}
          {% if field.is_hidden %}
          {{ field }}
          {% else %}
          {% endif %}
            {% if forloop.counter == 1 %}
             <tr>
            <td>1</td>
            {% elif forloop.counter == 2 %}
            <td>{{ field }}</td>
            {% elif forloop.counter == 3 %}
            <td>{{ field }}</td>
            {% elif forloop.counter == 4 %}
            <td>{{ field }}</td>
            {% elif forloop.counter == 5 %}
            <td>{{ field }}</td>
            {% elif forloop.counter == 6 %}
            <td>{{ field }}</td>
            {% elif forloop.counter == 7 %}
            <td>{{ field|bootstrap }}</td>
            {% elif forloop.counter == 8 %}
            <td>{{ field|bootstrap }}</td>
          </tr>
            {% elif forloop.last %}
          {% else %}
          <tr>
            <th>{{ field.label }}</th>
            <td colspan="7">{{ field }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
      <p style=""><a class="delete" href="#">Delete</a></p>
    </div>
    {% endfor %}

    <p><a id="add" href="#">Add Event</a></p>

    <input type="submit" value=" Submit " />

</form>

{% endblock %}