{% extends 'base.html' %}

{% block head %}
<script type='text/javascript'> 
$(document).ready(function(){
{% for Project in ProjectList %}
$('#Project_{{ Project.id }}').popover();
{% endfor %}
});
</script>

<script type='text/javascript'> 
function ActiveProject(ProjectID){
      $('input:hidden[name=ProjectID]').val(ProjectID);
      $('#ActiveProject').submit();
   }
</script>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">Projects</li>
  {% for Project in ProjectList %}
    <li {% if Project.id == request.session.ProjectID %} class="active" {% else %}{% endif %}><a id="Project_{{ Project.id }}" href="#" rel="popover" onClick="ActiveProject({{ Project.id }})" title="{{ Project }}" data-content="{{ Project.ProjectDescription }}">{{ Project }}</a></li>
  {% endfor %}
 <li {% if request.session.ProjectID %}{% else %} class="active" {% endif %}><a id="NewProject" href="#" rel="popover" onClick="ActiveProject()" title="Create Project" data-content="Create a new project.">Create...</a></li>
</ul>
{% endblock %}

{% block body %}
<form id="ActiveProject" action="/activeproject/" method='post'>
  {% csrf_token %}
<input type="hidden" name="ProjectID">
</form>
{% load bootstrap %}
  <div class="hero-unit">
    {% if request.session.ProjectID %}
    <a href="/project/"><h4>Add Variables</h4></a>
    {% else %}
    <h4>Create a new project.</h4>
    {% endif %}
    <br><br>
   <form action="." method='post'>
  {% csrf_token %}
    {{ newForm|bootstrap2 }}
   <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Save Project">&nbsp;<button type="reset" class="btn">Reset</button>
    </div>
</form>
</div>
<div style="background:black;">
      <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p>Extra Test</p>
        </div>
      </div>
    </div>
<p style="color:red;">Test<br><br></p>
</div>
{% endblock %}