<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<style type="text/css">
	@page {
		size: ;
		margin: 1cm;
		@frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
             margin-top: 1cm;
    		    height: 1cm;
		}
	}

</style>
</head>
<body>
<div>
    <h2>What up biznatches.</h2>
    <div>
        <table>
            <thead>
                <th>One</th>
                <th>Two</th>
            </thead>
            <tbody>
                <tr>
                    <td>First row</td>
                    <td>Content</td>
                </tr>
            </tbody>
            </table>
    </div>
</div>
<div id="footerblock">
    <pdf:pagenumber>
</div>
</body>
</html>