{% extends 'base.html' %}
{% block head %}
<script type="text/javascript"> 
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>

<script type='text/javascript'> 
function getClick() {
    console.log("Worked");
    $.get("/xhr_test", function(data){
      console.log(data);
    });
  }
</script>

<script type='text/javascript'> 
function postClick() {
    console.log("Worked");
    $.post("/xhr_test", function(data){
      console.log(data);
    });
  }
</script>
<script type="text/javascript">
   $(document).ready(function() {
       $("#testForm").submit(function(event){
        console.log("Worked");
           event.preventDefault();
           $.ajax({
                type:"POST",
                url:"/xhr_test/",
                data: {name: 1},
                success: function(data){
                    console.log(data);
                  $.each(data, function(index) {
                    console.log(data[index].absolute_url);
                  });
                }
                    });
       });
    });
</script>

<script type="text/javascript">
   $(document).ready(function() {
    $('#ajaxtyper').typeahead({
        source: ["Hello", "World"]
            });
        // var Typer = $("#ajaxtyper");
        // function Typeahead(){
        //     $.ajax({
        //         type:"POST",
        //         url:"/xhr_test/",
        //         data: {name: Typer.val()},
        //         success: function(data){
        //             console.log(data);
        //           }
        //               });
        //             }
        // Typer.blur(Typeahead);
        // Typer.keyup(Typeahead);
       });
</script>

{% endblock %}

    {% block body %}
    <button onClick="getClick()">AJAX GET</button><br><br>
    <button onClick="postClick()">AJAX POST</button><br><br>
    <form id="testForm" action="/test_results/" method="post">
            <input type="submit" id="go" name="go" value="Go!">
    </form>
<section id="typeahead">
      <div class="page-header">
        <h1>Typeahead <small>bootstrap-typeahead.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>About</h3>
          <p>A basic, easily extended plugin for quickly creating elegant typeaheads with any form text input.</p>
          <a href="assets/js/bootstrap-typeahead.js" target="_blank" class="btn">Download file</a>
        </div>
        <div class="span9 columns">
          <h2>Example</h2>
          <p>Start typing in the field below to show the typeahead results.</p>
          <div class="well">
            <input id="ajaxtyper" type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" >
          </div>
          <hr>
          <h2>Using bootstrap-typeahead.js</h2>
          <p>Call the typeahead via javascript:</p>
          <pre class="prettyprint linenums">$('.typeahead').typeahead()</pre>
          <h3>Options</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">Name</th>
               <th style="width: 50px;">type</th>
               <th style="width: 100px;">default</th>
               <th>description</th>
             </tr>
            </thead>
            <tbody>
              <tr>
               <td>source</td>
               <td>array</td>
               <td>[ ]</td>
               <td>The data source to query against.</td>
             </tr>
             <tr>
               <td>items</td>
               <td>number</td>
               <td>8</td>
               <td>The max number of items to display in the dropdown.</td>
             </tr>
             <tr>
               <td>matcher</td>
               <td>function</td>
               <td>case insensitive</td>
               <td>The method used to determine if a query matches an item. Accepts a single argument, the <code>item</code> against which to test the query. Access the current query with <code>this.query</code>. Return a boolean <code>true</code> if query is a match.</td>
             </tr>
             <tr>
               <td>sorter</td>
               <td>function</td>
               <td>exact match,<br> case sensitive,<br> case insensitive</td>
               <td>Method used to sort autocomplete results. Accepts a single argument <code>items</code> and has the scope of the typeahead instance. Reference the current query with <code>this.query</code>.</td>
             </tr>
             <tr>
               <td>highlighter</td>
               <td>function</td>
               <td>highlights all default matches</td>
               <td>Method used to highlight autocomplete results. Accepts a single argument <code>item</code> and has the scope of the typeahead instance. Should return html.</td>
             </tr>
            </tbody>
          </table>

          <h3>Markup</h3>
          <p>Add data attributes to register an element with typeahead functionality.</p>
<pre class="prettyprint linenums">
&lt;input type="text" data-provide="typeahead"&gt;
</pre>
          <h3>Methods</h3>
          <h4>.typeahead(options)</h4>
          <p>Initializes an input with a typeahead.</p>
        </div>
      </div>
    </section>
{% endblock %}
