{% extends 'base.html' %}
{% block head %}
<script type="text/javascript"> 
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>

<script type='text/javascript'> 
function getClick() {
    console.log("Worked");
    $.get("/xhr_test", function(data){
      console.log(data);
    });
  }
</script>

<script type='text/javascript'> 
function postClick() {
    console.log("Worked");
    $.post("/xhr_test", function(data){
      console.log(data);
    });
  }
</script>
<script type="text/javascript">
   $(document).ready(function() {
       $("#testForm").submit(function(event){
        console.log("Worked");
           event.preventDefault();
           $.ajax({
                type:"POST",
                url:"/xhr_test/",
                data: {name: 1},
                success: function(data){
                  $.each(data, function(index) {
                    console.log(data[index].absolute_url);
                  });
                }
                    });
       });
    });
</script>

{% endblock %}

    {% block body %}
    <button onClick="getClick()">AJAX GET</button><br><br>
    <button onClick="postClick()">AJAX POST</button><br><br>
    <form id="testForm" action="/test_results/" method="post">
            <input type="submit" id="go" name="go" value="Go!">
    </form>
    <div id="DivText">
        <form action="{% url kbase_search %}" method="get">
            {{form}}
        </form>
    </div>
{% endblock %}
