{% extends "base.html" %}
{% block body %}
    {% if form.errors %}
    <h4 style="color:red;"> Username or password didn't work. Please enter them again </h4><br>
    {% endif %}

    <form method="post" action=".">
    	{% csrf_token %}
        <p><label for="id_username">Username:
            </label>{{ form.username }}</p>
        <p><label for="id_password">Password:
            </label>{{ form.password }}</p>
        <input type="hidden" name="next"
            value="/main/" />
        <input class="btn btn-primary" type="submit" value="Log in" />
    </form>

{% endblock %}