{% extends 'form.html' %}

{% block head2 %}

<script type="text/javascript"> 
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>

<script type="text/javascript">
    jQuery(document).ajaxError(function(){  
        $("#OptionValueError").addClass("error");  
        $("#OptionValueError span").text("Value must be an integer.");  
        $("#OptionValueError span").addClass("error");  
        return false;  
    });  
   $(document).ready(function() {
       $("#OptionForm").submit(function(event){
           event.preventDefault();
           $.ajax({
                type:"POST",
                url:"{% url builder.views.addoption %}",
                data: {VariableID: $('input:hidden[name=VariableID]').val(), OptionLabel: $('input:text[name=OptionLabel]').val(), OptionValue: $('input:text[name=OptionValue]').val()},
                success: function(data){
                console.log(data['OptionID']);
                $("#OptionValueError").removeClass("error");  
                $("#OptionValueError span").text("");  
                $("#OptionValueError span").removeClass("error");
                $('#OptionTable > tbody:last').append('<tr id=Option_'+data['OptionID']+'><td>'+data['OptionValue']+'</td><td>'+data['OptionLabel']+'</td><td><a href="javascript:void(0)" onClick="deleteOption('+data['OptionID']+')"><i class="icon icon-remove"></i></a>');
                $('input:text[name=OptionValue]').val('');
                $('input:text[name=OptionLabel]').val('');
                }
              });
           });
        });
</script>

<script type="text/javascript">
function deleteOption(OptionID){
  $.ajax({
      type:"POST",
      url:"{% url builder.views.deleteoption %}",
      data: {OptionID: OptionID},
      success: function(data){
      	console.log(data);
        $('#Option_'+OptionID).remove();
        }
      });
      }

function AddOptions(VarID){
           $.ajax({
                type:"POST",
                url:"{% url builder.views.currentoptions %}",
                data: {VarID: VarID},
                success: function(data){
               	$('#OptionTable > tbody > tr').remove();
                  $.each(data, function(index) {
                  $('#OptionTable > tbody:last').append('<tr id=Option_'+data[index].OptionID+'><td>'+data[index].OptionValue+'</td><td>'+data[index].OptionLabel+'</td><td><a href="javascript:void(0)" onClick="deleteOption('+data[index].OptionID+')"><i class="icon icon-remove"></i></a>');
                  });
                }
              });
           $('input:hidden[name=VariableID]').val(VarID);
           $('#AddOptions').modal('toggle')
           }

</script>


  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

  </style>
	<script>
	$(function() {
		$("#sortable" ).sortable({
			placeholder: "ui-state-highlight",
			update: function(event, ui){
				// console.log($('#sortable').sortable('serialize'));
				// console.log(JSON.stringify($('#sortable').sortable('toArray')));
				$.ajax({
                type:"POST",
                url:"{% url builder.views.variableorder %}",
                data: {Order: JSON.stringify($('#sortable').sortable('toArray')) },
                success: function(data){
                 console.log(data);
                }
              });
			}
		});
		$( "#sortable" ).disableSelection();
	});
	// $(function() {
	// 	$( "#sorter").resizable();
	// });
	</script>

<script type='text/javascript'> 
function Edit(VarID){
	$('input:hidden[name=VarID]').val(VarID);
	$('#EditVar').submit();
   }

function Copy(VarID){
  $('input:hidden[name=VarID]').val(VarID);
  $('#CopyVar').submit();
   }

function Delete(VarID){
       $.ajax({
        type:"POST",
        url:"{% url builder.views.deletevariable %}",
        data: {VariableID: VarID},
        success: function(data){
          $("#liid_"+data).remove();
          }
        });
      }

</script>

<script type='text/javascript'> 
$(window).load(function(){
	$("#Identifier").tooltip();
	$("#Blank").tooltip();
	$("#Null").tooltip();
	$("#FieldType").tooltip();
$('select[name="FieldType"]').change(function(){
  if ($('select[name="FieldType"]').val() == "CharField") {
    $('#divid_VarMaxLength').show();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
        }
  else if ($('select[name="FieldType"]').val() == "DecimalField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').show();
    $('#divid_VarMaxDecimalPlaces').show();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
  else if ($('select[name="FieldType"]').val() == "BooleanField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').hide();
    $('#divid_VarNull').hide();
  }
  else if ($('select[name="FieldType"]').val() == "NullBooleanField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').hide();
    $('#divid_VarNull').hide();
  }
  else if ($('select[name="FieldType"]').val() == "RadioButton") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
  else {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
})
});
</script>

<script type='text/javascript'> 
$(document).ready(function(){
  if ($('select[name="FieldType"]').val() == "CharField") {
    $('#divid_VarMaxLength').show();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
        }
  else if ($('select[name="FieldType"]').val() == "DecimalField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').show();
    $('#divid_VarMaxDecimalPlaces').show();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
  else if ($('select[name="FieldType"]').val() == "BooleanField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').hide();
    $('#divid_VarNull').hide();
  }
  else if ($('select[name="FieldType"]').val() == "NullBooleanField") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').hide();
    $('#divid_VarNull').hide();
  }
  else if ($('select[name="FieldType"]').val() == "RadioButton") {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
  else {
    $('#divid_VarMaxLength').hide();
    $('#divid_VarMaxDigits').hide();
    $('#divid_VarMaxDecimalPlaces').hide();
    $('#divid_VarBlank').show();
    $('#divid_VarNull').show();
  }
});
</script>

{% endblock %}


{% block varform %}

{% load bootstrap %}

<ul id="sortable">

{% for Variable in VarList %}
<li id="liid_{{ Variable.id }}">
	<div class="js-stream-item stream-item stream-item">
		<div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-hover js-profile-popup-actionable js-original-tweet" >
<!-- 			<div class="content"> -->
				<div class="stream-item-footer">
					<span style="color:black; font-size:16px;" class="details with-icn js-details" href="javascript:void(0)"><b><span class="expand-stream-item js-view-details"><span class="expand-action-wrapper">{{ Variable.VarName }}</span></span></b>&nbsp;&nbsp;&nbsp;<span class="label label-info" id="FieldType" rel="tooltip" title="Variable type.">{{ Variable.FieldType }}</span>
							{% if Variable.Identifier %}
							<span class="label label-important" id="Identifier" rel="tooltip" title="Variable collects identifiable information.">Identified</span>
							{% else %}
							{% endif %}
							{% if Variable.VarBlank %}
							<span class="label label-success" id="Blank" rel="tooltip" title="Blank values are allowed.">Blank</span>
							{% else %}
							{% endif %}

							{% if Variable.VarNull %}
 							<span class="label label-warning" id="Null" rel="tooltip" title="Null values are allowed.">Null</span>
							{% else %}
							{% endif %}	

							{% if Variable.ActivePanel %}
 							<span class="label label-default" id="Active" rel="tooltip" title="Variable included in active patient panel.">Active</span>
							{% else %}
							{% endif %}	

							{% if Variable.MainList %}
 							<span class="label label-default" id="MainList" rel="tooltip" title="Variable included on list/search page.">List/Search</span>
							{% else %}
							{% endif %}	
						</span>
						<ul class="tweet-actions js-actions"> 
							
					<a href="javascript:void(0)" onClick="Edit({{ Variable.id }})"><i class="icon-wrench"></i>Edit</h5></a>
						{% if Variable.FieldType == "RadioButton" %}	
							<a href="javascript:void(0)" onClick="AddOptions({{ Variable.id }})"><i class="icon-plus"></i>Add Options</h5></a>
						{% else %}
						{% endif %}
							<a href="javascript:void(0)" onClick="Format({{ Variable.id }})"><i class="icon-text-width"></i>Format</h5></a>
							<a href="javascript:void(0)" onClick="Logic({{ Variable.id }})"><i class="icon-cog"></i>Logic</h5></a>
							<a href="javascript:void(0)" onClick="Delete({{ Variable.id }})"><i class="icon-trash"></i>Delete</h5></a>
              <a href="javascript:void(0)" onClick="Copy({{ Variable.id }})"><i class="icon-file"></i>Copy</h5></a>
						</ul>
				</div> 
				<p class="js-tweet-text">	
					<table class="table table-condensed">
					<thead>
						
						<tr>
							<th width="40%">Label</th>
							<th width="40%">Description</th>
							{% if Variable.VarMaxLength %}
							<th width="20%">Max<br>Characters</th>
							{% else %}
						{% endif %}
						{% if Variable.VarMaxDecimalPlaces %}
							<th width="10%">Decimal<br>Places</th>
							{% else %}
						{% endif %}
						{% if Variable.VarMaxDigits %}
							<th width="10%">Max<br>Digits</th>
							{% else %}
						{% endif %}		
						</tr>
						
					</thead>
					<tbody>
					<tr>
						<td>{{ Variable.VarLabel }}</td>
						<td>{{ Variable.VarDescription }}</td>
						{% if Variable.VarMaxLength %}
						<td>{{ Variable.VarMaxLength }}</td>
						{% else %}
						{% endif %}
						{% if Variable.VarMaxDecimalPlaces %}
						<td>{{ Variable.VarMaxDecimalPlaces }}</td>
						{% else %}
						{% endif %}
						{% if Variable.VarMaxDigits %}
						<td>{{ Variable.VarMaxDigits }}</td>	
						{% else %}
						{% endif %}				
					</tr>
				</tbody>
<!-- 					<thead>
						<tr>
							<th colspan="4">Additional Information</th>
						</tr>
					</thead> -->
				</table>
				</p>
				<div class="expanded-content js-tweet-details-dropdown">
						</div>
<!-- 			</div> -->
		</div>
	</div>
	</li>
{% endfor %}

</ul>

<div class="modal" id="AddOptions" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">X</button>
    <h3>Add Options</h3>
  </div>
  <div class="modal-body">
  
<form id="OptionForm" action="." method='POST'>
  <div id="OptionValueError" class="control-group">
  <span class="help-inline"></span><br>
  <br>Value&nbsp;<input type="text" name="OptionValue" id="id_OptionValue" /><br>Label&nbsp;<input type="text" name="OptionLabel" id="id_OptionLabel"/><input type="hidden" name="VariableID">
  </div>
<div id="divid_OptionTable">
<table class="table table-condensed" id="OptionTable">
<thead>
  <th>Value</th>
  <th colspan="2">Label</th>
</thead>
<tbody>
</tbody>
</table>
</div>
</div>
  <div class="modal-footer">
  <input type="submit" class="btn btn-primary" value="Add">&nbsp;<button type="reset" class="btn">Reset</button>
</form>
  </div>
</div>


{% endblock %}

{% block right %}

<div class="well sidebar-nav sidebar-nav-fixed">
	<div class="well">
	<h4 style="color:#ebd90b;">
	{% if request.session.VarID %}
	<i class="icon-wrench"></i> Edit variable:
	{% else %}
	<i class="icon-plus"></i> Add new variable:
	{% endif %}
</h4>
    <form id="VarForm" action="." method='post'>
  {% csrf_token %}
  <table class="table table-condensed">
      {{ newForm|bstable }}
   </table>
    
<div class="form-actions">
   	{% if request.session.VarID %}
	<input type="submit" class="btn btn-primary" value="Save Changes">&nbsp;<a type="reset" class="btn" href="{% url builder.views.variable %}">Cancel Edit</a>
	{% else %}
	<input type="submit" class="btn btn-primary" value="Save Variable">&nbsp;<button type="reset" class="btn">Reset</button>
	{% endif %}
</div>
</form>
</div>
</div>

<form id="EditVar" action="." method='get'>
  {% csrf_token %}
<input type="hidden" name="VarID">
</form>
<form id="CopyVar" action="{% url builder.views.copyvar %}" method='post'>
  {% csrf_token %}
<input type="hidden" name="VarID">
</form>
{% endblock %}